@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sacramento&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

label.logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(93, 78, 52);
    font-weight: bold;
    line-height: 80px;
    padding: 0 65px;
}

nav {
    background-color: rgb(234, 230, 222);
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(89, 75, 50);
    padding: 10px;
    font-size: 18px;
}

nav ul li a:hover {
    color: rgb(184, 166, 140);
    transition: .5s;
}

nav img {
    display: none;
    float: right;
    height: 40px;
    line-height: 80px;
    cursor: pointer;
    margin: 20px;
}




.description {
    margin: 10% 10%;

}

.description h2 {
    font-size: 3.5vw;
    padding-bottom: 8vw;
    color: rgb(93, 78, 52);
}

.description p {
    width: 65%;
    font-size: 2vw;
    padding-bottom: 20px;
    color: rgb(146, 133, 109);
}

.description button {
    border: double;
    background-color: rgb(143, 125, 96);
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 2vw 0;
    cursor: pointer;
}

.resume {
    margin: 0 3%;
}

.resume h2 {
    color: rgb(89, 75, 50);
    margin: 1vw 2vw;
    font-size: 2.5vw;
}

.education-container {
    padding-bottom: 8%;
}

.education-header {
    padding: .4vw;
    width: 80%;
    background-image: linear-gradient(to right, rgb(206, 195, 177), white);
    display: block;
    justify-content: space-between;
}

.education-items {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
}

.university p {
    padding: 2vw 0;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

.education-year p {
    padding: 2vw 0;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(184, 166, 140);
}


.skills-container {
    padding-bottom: 8%;
}

.skills-header {
    padding: .4vw;
    width: 80%;
    background-image: linear-gradient(to right, rgb(206, 195, 177), white);
    display: block;
    justify-content: space-between;
}

.skills-items {
    display: flex;
    padding: 0 30px;
}

.skills-elements p {
    padding: 2vw 0;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}


.explead-container {
    padding-bottom: 8%;
}

.explead-header {
    padding: .4vw;
    width: 80%;
    background-image: linear-gradient(to right, rgb(206, 195, 177), white);
    display: block;
    justify-content: space-between;
}

.explead-items {
    display: block;
    padding: 0 30px;
}

.explead-items p {
    padding: 2vw 0;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

.year {
    color: rgb(184, 166, 140);
}

.beyondbeauty {
    display: flex;
    justify-content: space-between;
}

.bonchon {
    display: flex;
    justify-content: space-between;
}

.tntt {
    display: flex;
    justify-content: space-between;
}

.marquis {
    display: flex;
    justify-content: space-between;
}


.projects-container {
    padding-bottom: 3%;
}

.projects-header {
    padding: .4vw;
    width: 80%;
    background-image: linear-gradient(to right, rgb(206, 195, 177), white);
    display: block;
    justify-content: space-between;
}

.projects-items {
    display: flex;
    padding: 0 30px;
}

.game2024 p {
    padding: 2vw 0;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}






.socials {
    width: 100%;
    height: 80px;
    padding-top: 30px;
    align-content: center;
    justify-content: center;
    display: flex;
}

.socials-container li {
    line-height: 80px;
    display: inline-block;
   
}
.socials-container img {
    height: 40px;
    line-height: 80px;
    cursor: pointer;
    margin: 20px;
    align-content: center;
}


@media only screen and (max-width:1000px){

    label.logo {
        padding-left: 50px;
    }
    
    nav ul li a {
        font-size: 16px;
    }
    
}

@media only screen and (max-width:650px){

    label.logo {
        padding-left: 35px;
    }
    
    nav ul li a {
        font-size: 20px;
    }
    
    nav img {
        display:block;
    }
    
    ul {
        position: fixed;
        width: 20%;
        height: 100vh;
        background-color: rgb(245, 242, 238);
        transition: all .5s;
        text-align: center;
    }

    nav ul li {
        display: block;
        line-height: 60px;
    }
    
    .description {
        margin: 7% 7%;
    
    }
    
    .description h2 {
        font-size: 5vw;
    }
    
    .description p {
        font-size: 3.25vw;
        padding-bottom: 20px;
        color: rgb(146, 133, 109);
    }
    
    .description button {
        border: double;
        background-color: rgb(143, 125, 96);
        color: white;
        padding: 1vw 2vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5vw;
        margin: 2vw 0;
        cursor: pointer;
    }

    .resume {
        margin: 0 3%;
    }
    
    .resume h2 {
        color: rgb(89, 75, 50);
        margin: 1vw 2vw;
        font-size: 3.5vw;
    }

    .resume p {
        font-size: 2.25vw;
    }

    .description button {
        margin: 2vw 0;
        font-size: 3vw;
    }
    
}

@media only screen and (max-width:500px){

    label.logo {
        padding-left: 20px;
    }
    
    ul {
        width: 30%;
    }
    
    nav ul li a {
        font-size: 20px;
    }  
    
}
